<section>
    <h2 data-bind="text: displayName"></h2>
    <div data-bind="with: newEntry">
        <div class="row">
            <div class="col-sm-3">pH</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.ph"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3">Free Ammonia (NH3):</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.freeAmmonia"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3">Total Ammonia: </div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.totalAmmonia"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3">Nitrite:</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.nitrite"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3">Nitrate:</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.nitrate"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3">O2:</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.o2"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3">Water Temperature:</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.waterTemp"></input></div>
        </div>

        <div class="row">
            <div class="col-sm-3">Water Change:</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.volWaterChange"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3">Water Clarity:</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.turbidity"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3">Clean Filter:</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.cleanFilter"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3">Date/Time:</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.entryDateTime"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3"><br><input type="button" value="Add Journal Entry" data-bind="click: $root.addJournalEntry, style:{display: id!=='' ?'none':'block'}"></input></div>
            <div class="col-sm-3"><br><input type="button" value="Update Journal Entry" data-bind="click: $root.updateJournalEntry, style:{display: id!=='' ?'block':'none'}"></input></div>
            <div class="col-sm-3"><br><input type="button" value="Cancel Update" data-bind="click: $root.cancelUpdate, style:{display: id!=='' ?'block':'none'}"></input></div>
        </div>
    </div>

    <br>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th> pH </th>
                    <th> Free Ammonia (NH3) </th>
                    <th> Total Ammonia </th>           
                    <th> Nitrite </th>
                    <th> Nitrate </th>
                    <th> O2 </th>
                    <th> Water Temp </th>
                    <th> Vol Water Change </th>
                    <th> Turbidity </th>
                    <th> Clean Filter </th>
                    <th> Entry Date </th>
                    <th> Edit </th>
                    <th> Delete </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: entries">
                <tr>
                    <td data-bind="test: $data.id">id</td>    
                    <td data-bind="text: $data.ph">pH: </td>
                    <td data-bind="text: $data.freeAmmonia">NH3 </td>
                    <td data-bind="text: $data.totalAmmonia">Ammonia </td>         
                    <td data-bind="text: $data.nitrite">Nitrite: </td>
                    <td data-bind="text: $data.nitrate">Nitrate: </td>
                    <td data-bind="text: $data.o2">o2: </td>
                    <td data-bind="text: $data.waterTemp">Water Temp: </td>
                    <td data-bind="text: $data.volWaterChange">Volume Water Change: </td>
                    <td data-bind="text: $data.turbidity">Turbidity: </td>
                    <td data-bind="text: $data.cleanFilter">Clean Filter: </td>        
                    <td data-bind="text: $data.entryDateTime">Entry Date: </td>
                    <td> <input type="button" value="Edit" data-bind="click: $parent.editJournalEntry"></input></td>
                    <td> <input type="button" value="Delete" data-bind="click: $parent.deleteJournalEntry"></input></td>
                </tr>
            </tbody>
        </table>
    </div>

</section>
