<section>
    <h2 data-bind="text: displayName"></h2>
    <div data-bind="with: newEntry">
        <span><span>pH: </span><input type="text" data-bind="value: ph"></input></span><br>
        <span><span>Free Ammonia (NH3): </span><input type="text" data-bind="value: freeAmmonia"></input></span><br>
        <span><span>Total Ammonia: </span><input type="text" data-bind="value: totalAmmonia"></input></span><br>
        <span><span>Nitrite: </span><input type="text" data-bind="value: nitrite"></input></span><br>
        <span><span>Nitrate: </span><input type="text" data-bind="value: nitrate"></input></span><br>
        <span><span>O2: </span><input type="text" data-bind="value: o2"></input></span><br>
        <span><span>Water Temperature: </span><input type="text" data-bind="value: waterTemp"></input></span><br>
        <span><span>Water Change: </span><input type="text" data-bind="value: waterChange"></input></span><br>
        <span><span>Water Clarity: </span><input type="text" data-bind="value: waterClarity"></input></span><br>
        <span><span>Clean Filter: </span><input type="text" data-bind="value: cleanFilter"></input></span><br>
        <span><span>Date/Time: </span><input type="text" data-bind="value: entryDateTime"></input></span><br>
    </div>
    <div><input type="button" data-bind="click: addJournalEntry">Add Journal Entry</input></div>
    <div class="row" data-bind="foreach: entries">
        <div class="col-sm-6 col-md-3">
            <span data-bind="text: entryDateTime">
            </span>
        </div>
    </div>
</section>
