<section>
    <h2 data-bind="text: displayName"></h2>
    <div data-bind="with: newEntry">
        <div class="row">
            <div class="col-sm-3">Name</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.name"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3">Volume</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.volume"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3">Height</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.height"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3">Width</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.width"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3">Depth</div>
            <div class="col-sm-6"><input type="text" data-bind="value: $data.depth"></input></div>
        </div>
        <div class="row">
            <div class="col-sm-3"><br><input type="button" value="Add Tank Entry" data-bind="click: $root.addTankEntry, style:{display: id!=='' ?'none':'block'}"></input></div>
            <div class="col-sm-3"><br><input type="button" value="Update Tank Entry" data-bind="click: $root.updateTankEntry, style:{display: id!=='' ?'block':'none'}"></input></div>
            <div class="col-sm-3"><br><input type="button" value="Cancel Update" data-bind="click: $root.cancelUpdate, style:{display: id!=='' ?'block':'none'}"></input></div>
        </div>
    </div>

    <br>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th> id </th>
                    <th> Name </th>
                    <th> Volume </th>
                    <th> Height </th>           
                    <th> Width </th>
                    <th> Depth </th>
                    <th> Entry Date </th>
                    <th> Edit </th>
                    <th> Delete </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: entries">
                <tr>
                    <td data-bind="test: $data.id">No id</td>    
                    <td data-bind="text: $data.name">No Name </td>
                    <td data-bind="text: $data.volume">No Volume </td>
                    <td data-bind="text: $data.height">No Height </td>         
                    <td data-bind="text: $data.width">No Width </td>
                    <td data-bind="text: $data.depth">No Depth </td>
                    <td data-bind="text: $data.entryDateTime">Entry Date: </td>
                    <td> <input type="button" value="Edit" data-bind="click: $parent.editTankEntry"></input></td>
                    <td> <input type="button" value="Delete" data-bind="click: $parent.deleteTankEntry"></input></td>
                </tr>
            </tbody>
        </table>
    </div>

</section>
